

:root{
    --primarycolor:#566366;
    --secondarycolor:#2ecc71;
    --primaryfont:"Roboto", sans-serif;
   }

body{
font-family:var(--primaryfont)

}

*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

a{
    text-decoration: none;
}

h1,h2,h3,h4,h5,h6,p,span,ul,li{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* nav bar start */
.navbar{
    background-color: var(--primarycolor);
}
.navbar ul li a{
    color: #fff !important;
    padding: 28px 20px;
    transition: 0.5s;
}
.navbar ul li a:hover{
    color: #2ecc71 !important;
    
}
/* nav bar end */

/* banner bar start */
#banner{
    background-image: url(../images/2.jpg);
    background-size: cover;
    height: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: #fff;
    
}
#banner h1{
    font-weight: 700;
  font-style: normal;
  margin-bottom: 50px;
}

#banner a{
    border: 3px solid #fff;
    padding: 20px 35px;
    color: #fff;
    transition: 0.5s;
}
#banner a:hover{
    background-color: black;
}
/* banner bar end */

/* values bar start */
#values .contains{
    text-align: center;
}

#values .contains h3{
    font-weight: 700;
    font-style: normal;
    margin: 95px 0 30px;
}
/* values bar end */
 

/* about bar start */
#about{
    margin: 95px 0 ;
    background-color: #f2f2f1;
    justify-content: center;
}

#about .about-cnt h4{
    font-weight: 700;
    font-style: normal;
    margin-bottom: 45px;
}
#about .about-cnt p{
    margin-bottom: 45px;
}


#about .cnt{
    margin-top: 75px;
}
#about .cnt h4{
    font-weight: 700;
    font-style: normal;
    margin-bottom: 30px;
}
/* about bar end */

/* skills bar start */
#skills .sills-cnt h4{
    font-weight: 700;
    font-style: normal;
    margin-bottom: 45px;
}
#skills .sills-cnt p{
    margin-bottom: 45px;
}
#skills .sills-cnt a{
    border: 3px solid #2ecc71;
    padding: 20px 35px;
    color: var(--secondarycolor);
    transition: 0.5s;
}

#skills .sills-cnt a:hover{
    background-color:var(--secondarycolor);
    color: #fff;
}
/* skills bar end */

/* resume bar start */
#resume{
    height: 400px;
    background-color: #f2f2f1;
    justify-content: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 175px;
}
#resume h3{
   margin-bottom: 45px;
    font-weight: 700;
    font-style: normal;
}
#resume p{
    margin-bottom: 45px;
}
#resume a{
    padding: 20PX;
    border: 2PX solid #2ecc71;
    color: var(--secondarycolor);
    transition: 0.5s;
}
#resume a:hover{
    background-color: var(--secondarycolor);
    color: #fff;
}
/* resume bar end */

/* education bar start*/
#education{
    margin-top: 100px;
}
#education .education-cnt h3{
    font-weight: 700;
    font-style: normal;
    margin-bottom: 50px;
}
#education .education-cnt p{
    margin-bottom: 40px;
}
#education .education-contains{
    margin-bottom: 80px;
}
#education .education-contains h4{
    font-weight: 700;
    font-style: normal;
}
#education .education-contains span{
    background-color: var(--secondarycolor);
    border: 1px  solid #2ecc71;
}
/* education bar end */

/* stone */
#stone{
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    background-color: #f2f2f1;
    height: 300px;
}
#stone h4{
    font-weight: 700;
    font-style: normal;
    margin-top:35px;
}
/* stone end */

/* portfolio bar start */
#portfolio{
    text-align: center;
    margin: 95px 0;
}
#portfolio h3{
    font-weight: 700;
    font-style: normal;
    margin-bottom: 20px;
}
#portfolio .portfolio-img{
    margin-top: 20px;
}

/* portfolio bar end */

/* footer bar start */
footer{
    background-color: #252e30;
    height: 610px;
    color: #a39e9e;
}
footer .footer-cnt h4{
    font-weight: 700;
    font-style: normal;
    color: #fff;
    margin-bottom: 15px;
    margin-top: 50px;
}
footer .footer-cnt a{
    color: #353333;
    margin-left: 10px;
}
footer .ancur a{
   padding: 20px 35px;
   background-color: black;
   text-transform: uppercase;
   color: #fff;
   transition: 0.5s;
}
footer .ancur a:hover{
    background-color: #fff;
    color: black;
}
/* footer bar end */